<h1>Billboard Artists</h1>
<%= link_to 'Create new Artist', new_billboard_artist_path(@billboard) %>
<ul>
<% @artists.each do |artist| %>
  <li><%= link_to artist.name, [@billboard, artist] %></li>
  <% end %>
  </ul>

