<h1>Songs</h1>
<br/>
<table>
<thead class="cyan-text text-lighten-2">
<tr>
  <th> Song Name </th>
  <th> Rank </th>
  </tr>
</thead>

<a class="waves-effect waves-light btn" <%= link_to 'Add new Song', new_artist_song_path(@artist) %></a>
<a class="waves-effect waves-light btn" <%= link_to 'Back to Artist', billboard_path(@billboard) %></a>
<br/>
<br/>

<tbody class="red-text text-lighten-2">
<% @songs.each do |song| %>
  <tr>
  <td><%= link_to song.name, artist_song_path(@artist, song) %></td>
  <td><%= song.rank %></td>
  </tr>
  <% end %>
  </tbody>
  </table>
 
 
  
  <br/>
 

