<nav>
<div class="nav-wraper">
<ul id="nav-mobile" class="left hide-on-med-and-down">
<li><%= link_to 'Billboards', billboards_path %></li>
<li><%= link_to 'New Billboard List', new_billboard_path %></li>
</ul>
</div>
</nav>